@import "tailwindcss";

:root {
  --color-neutral-100: hsl(0, 0%, 95%);
  --color-neutral-200: hsl(0, 0%, 80%);

  --color-primary-800: hsl(var(--primary, 0), var(--s, 0%), 20%);
  --color-primary-900: hsl(var(--primary, 0), 100%, 5%);

  --color-accent-500: hsl(var(--accent, 0), var(--s, 0%), 75%);
  --color-accent-900: hsl(var(--accent, 0), 100%, 39%);
}

@theme {
  --color-accent-500: var(--color-accent-500);
  --color-accent-900: var(--color-accent-900);

  --color-neutral-100: var(--color-neutral-100);
  --color-neutral-200: var(--color-neutral-200);

  --color-primary-800: var(--color-primary-800);
  --color-primary-900: var(--color-primary-900);
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

.box {
  @apply flex w-full flex-col rounded-xl border p-4 text-start;
}

::selection {
  background: var(--color-accent-500);
  color: var(--color-neutral-100);
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-primary-900);
  background: var(--color-neutral-100);
  font-family: var(--font-geist-mono), Helvetica, sans-serif;
}

.spin {
  --_a: rotate 15s linear infinite;
  --_b: rotate 1s linear infinite;
  animation:
    var(--_a),
    var(--_b) paused;
  animation-composition: accumulate;
}

.spin:hover {
  cursor: pointer;
  animation-play-state: running;
}

@keyframes rotate {
  to {
    rotate: 1turn;
  }
}

.heartbeat {
  animation: heartbeat 2s infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1.05);
  }

  30% {
    transform: scale(1);
  }

  40% {
    transform: scale(1.05);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}
