@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 157;
  --accent: 348;

  --color-neutral-100: hsl(0, 0%, 95%);
  --color-neutral-200: hsl(0, 0%, 80%);

  --color-primary-800: hsl(var(--primary), 100%, 20%);
  --color-primary-900: hsl(var(--primary), 100%, 5%);

  --color-accent-500: hsl(var(--accent), 100%, 75%);
  --color-accent-900: hsl(var(--accent), 100%, 39%);
}

::selection {
  background: theme("colors.accent.500");
  color: theme("colors.neutral.100");
}

html {
  scroll-behavior: smooth;
}

body {
  color: theme("colors.primary.900");
  background: theme("colors.neutral.100");
  font-family: var(--font-geist-mono), Helvetica, sans-serif;
}

.spin {
  --_a: rotate 15s linear infinite;
  --_b: rotate 1s linear 1s infinite;
  animation:
    var(--_a),
    var(--_b) paused;
  animation-composition: accumulate;
}

.spin:hover {
  cursor: pointer;
  transform: rotate(180deg) 1s ease-in-out;
  animation-play-state: running;
}

@keyframes rotate {
  to {
    rotate: 1turn;
  }
}
