:root {
  --transparency: 0;
}

.svg-art {
  transition: opacity 2s;
  opacity: var(--transparency);
}

.colored-circles {
  fill: currentColor;
  transition: color 2s;
}

.colored-circles circle {
  animation: 2s colorize forwards;
  animation-play-state: paused;
}

.colored-circles circle:hover {
  animation-play-state: running;
}

@keyframes colorize {
  to {
    fill: var(--color-accent-900);
  }
}
